* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", Arial, Helvetica, sans-serif;
}

/*home*/
/*
.home-head h1{
    position: relative;
}
.underline{   
    background: linear-gradient(to right, #6d47ff, #007fc8);
}
h1 span.underline{
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
}
*/
.snow-homebg {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(homebg.jpg);
}

.nav-sec {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(82, 77, 77, 0.589);
}

.nav-item a:hover {
    color: #6d47ff !important;
}

.nav-item a {
    color: #fff !important;
}

.navbar{
    z-index: 1000;
}

.home-head {
    padding: 250px 0 250px 0;
    text-align: center;
    color: #fff;
}

.home-head h1 {
    font-size: 100px;
}


/*Services*/

.services {
    margin: 70px 0 70px 0;
}

.icon iconify-icon {
    color: #fff;
    background: linear-gradient(to right, #6d47ff, #007fc8);
    background: cover;
    padding: 15px;
    border-radius: 8px;
    font-size: 30px;
}

.ser-content p {
    color: #555;
}

.ser-content h3 {
    font-size: 18px;
}

.icon:hover {
    animation: MoveUpDown 1s linear infinite;
    left: 0;
    bottom: 0;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}


/*About section*/

.about-sec {
    background-color: #000;
    color: #fff;
}

.about-head {
    padding-top: 50px;
}

.about-row {
    text-align: center;
}

.text-about {
    text-decoration-color: linear-gradient(to right, #6d47ff, #007fc8);
}

.about-para {
    padding: 20px 0 40px 0;
}

.about-link a {
    text-decoration: none;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    background: linear-gradient(to right, #6d47ff, #007fc8);
    color: #fff;
}

.about-link {
    padding: 20px 0 30px 0;
}

.about-img {
    padding-bottom: 50px;
}

.about-img img {
    width: 100%;
}

.snow-img {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(about1.jpg) fixed;
}

.about-box {
    color: #fff;
    text-align: center;
    padding: 150px 0 150px 0;
}

.idea {
    color: #6d47ff;
    font-size: 100px;
}

.design {
    color: #6d47ff;
    font-size: 100px;
}

.develop {
    color: #6d47ff;
    font-size: 100px;
}

.result {
    color: #6d47ff;
    font-size: 100px;
}

.card1:hover {
    border: 1px solid #fff;
    border-radius: 20px;
}

.icon-box h3 {
    font-weight: 30px;
}

.icon-box p {
    color: rgb(145, 129, 129);
}

.card1 {
    position: relative;
    padding: 20px !important;
}

.box {
    align-items: center;
    padding: 10px;
}

.about-hover {
    background: linear-gradient(to right, #6d47ff, #007fc8);
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    bottom: 0px;
    opacity: 0;
    transition: 0.4s;
}

.card1:hover .about-hover {
    opacity: 1;
}


.container-black {
    width: 99%;
}

.port-img {
    position: relative;
}

.port-img img {
    width: 100%;
    filter: grayscale(100%);
}

.port-img img:hover {
    filter: grayscale(0);
}

.port-img-content {
    background: linear-gradient(to right, #6d47ff, #007fc8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 2s;
}

.port-img:hover .port-img-content {
    opacity: 1.0;
}

.port-img-content h3 {
    color: #fff;
}

.container-second {
    width: 99% !important;
}

.port3-img img {
    max-width: 100%;
}

.num-port {
    padding: 10px;
}

.num-port h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to right, #6d47ff, #007fc8);
}

.port4-img img {
    width: 100%;
}

.port4-content {
    background: linear-gradient(to right, #6d47ff, #007fc8);
    color: #fff;
}

.btn a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: linear-gradient(to right, #6d47ff, #007fc8);
}



/*team*/


.img-team {
    overflow: hidden;
}

.img-team img {
    max-width: 100%;
    filter: grayscale(100%);
}

.img-team img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    transition: 1s ease;
}

.team-content {
    text-align: center;
}

.card-team {
    position: relative;

}

.team-icon {
    position: absolute;
    opacity: 0;
    bottom: 0;
    top: 280px;
    left: 0;
    right: 0;
    transition: 0.4s;
}

.team-icon iconify-icon {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    align-items: center;
}

.card-team:hover .team-icon {
    opacity: 1;
    top: 280px;
}

.facebook {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #325aa8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1aeaed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkin {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #5d1fb5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c4421d;
    display: flex;
    justify-content: center;
    align-items: center;
}


.numeric {
    background: #000;
    padding: 30px 0 30px 0;
    margin: 20px 0 20px 0;
    color: #fff;
    text-align: center;
}



/*Contact section*/



.snow-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(footer.jpg) fixed;
}



.contact {
    color: #fff;
}

.field-set {
    padding: 0 0 15px 20px;
    width: 100%;
}

.form {
    padding: 10px 100px;
}

.field-set input {
    padding: 10px;
    background: rgba(143, 137, 137, 0.007);
    border: solid 1px rgba(255, 255, 255, .2);
}

.field-set textarea {
    padding: 10px 70px 110px 10px;
    background: rgba(143, 137, 137, 0.007);
    border: solid 1px rgba(255, 255, 255, .2);
}

.field-set input:focus, textarea:focus {
    background: transparent !important;
    color: #fff !important;
    outline: 0!important;
    border-color: rgba(255, 255, 255, .2)!important;
    box-shadow: none !important;
}

#submit button {
    color: #fff;
    padding: 12px;
    font-weight: 600;
    width: 180px;
    border-radius: 30px;
    background: linear-gradient(to right, #6d47ff, #007fc8);
}

.form-control {
    padding: 10px;
}

.last {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.footer-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-icon iconify-icon {
    color: #fff;
    font-size: 20px;
}

.facebook1 {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #325aa8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter1 {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1aeaed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkin1 {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #5d1fb5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google1 {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c4421d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rss1 {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c4421d;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media(min-width:320px) {
    .home-head h1 {
        font-size: 30px;
    }
    .form{
        padding: 0;
    }
}

@media(min-width:690px) {
    .home-head h1 {
        font-size: 60px;
    }
    .form{
        padding: 10px 50px;
    }
}

@media(min-width:1024px) {
    .home-head h1 {
        font-size: 100px;
    }
    .form{
        padding: 10px 100px;
    }
}